# Server Configuration
server.addr=127.0.0.1
server.port=8080

# Service Configuration
service.name=app1
service.host=localhost
service.port=8080

# Eureka Service Registry Configuration
eureka.enabled=true
eureka.registry.url=http://localhost:8761
